
<table border="1" width="100">
                <thead>
                  <tr>
                    <td>
                      <ng-content select=[header]></ng-content>
                     </td>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <ng-content select=[body]></ng-content>
                         </td>
                      </tr>
                </tbody>
            </table>

<div *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <button class="clear"
            (click)="messageService.clear()">clear</button>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  
  </div>