<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>

<router-outlet></router-outlet>
<app-messages>
  <div header>Meu Header</div>
  <div body>Meu Body</div>
</app-messages>