<div *ngIf="hero">

    <fieldset>
      <legend><h2>{{hero.name | uppercase}} Details</h2></legend>

      <div><span>id: </span>{{hero.id}}</div>
      <div>
        <label>name:
          <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
      </div>

    </fieldset>


  
  </div>
