
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of getListHero(),let i=index" (click)="selectHero(hero)" [ngClass]="{'selected': hero.id==selectedHero?.id}">
    <span class="badge">{{hero?.id}}</span> {{hero?.name}}
  </li>
</ul>


<hr first>

<div *ngIf="selectedHero">
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div>


